* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background: #E1E6FA;
}

.container {
  max-width: 1240px;
  margin: 100px auto;
  background: rgba(24, 49, 82, 0.2);
  border-radius: 5px;
   border-left: 4px solid #375D81;
  box-shadow: 1px 2px 20px 13px rgba(0, 0, 0, 0.3);
}

/*                          nav                     */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  border-radius: 5px;
  border-top: 2px solid #375D81;
   border-bottom: 2px solid #375D81;
 

}

nav img {
  width: 100px;
}

code {
  font-size: 24px;
  display: flex;
  align-items: center;
}
code div{
  background: blue;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-left: 16px;
  cursor: pointer;
   border: 2px solid #375D81;
}

/*                          Cards                     */
.cards {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
    border-radius: 5px;
    /* border-top: 2px solid #375D81;
  border-right: 4px solid #375D81; */
}

.card {
  width: 300px;
  max-height: 320px;
  background: blue;
  padding: 10px 20px;
  border-radius: 5px;
  border-top: 2px solid #375D81;
  border-left: 4px solid #375D81;
  box-shadow: 1px 2px 20px 13px rgba(0, 0, 0, 0.3);
  margin: 16px 0;
}

.card h2 {
  text-align: center;
  margin: 15px 0;
}
.card a {
  text-decoration: none;
  color:#183152;
  float: right;
  margin-top: 16px;
}

/* 12 */
.card__btn{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  /* display: inline-block; */
  margin-top: 16px;
   float:right;
  outline: none;
}
.card__btn span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.card__btn span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.card__btn span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.card__btn:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.card__btn:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}